{
  "extends": "flying-sheep",
  "parser": "typescript-eslint-parser",
  "settings": {
    "extensions": ["ts", "tsx"],
    "import/core-modules": ["electron"]
  },
  "rules": {
    "no-console": [0]
  }
}
