* {
	box-sizing: border-box;
}

body {
	display: flex;
	align-items: stretch;
	
	padding: 0;
	margin: 1rem;
	
	color: #555;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	color: #2b6cc2;
	font-family: 'Crimson Text', Georgia, serif;
	font-weight: 400;
	line-height: 1.1;
	letter-spacing: -0.015em;
}

a:any-link {
	color: #2b6cc2;
	text-decoration: none;
	
	&:hover {
		text-decoration: underline;
	}
}

pre, code {
	font-family: "Menlo", "Lucida Console", monospace;
	border: 1px solid #ddd;
	background-color: #f8f8f8;
	border-radius: 3px;
}

pre {
	white-space: pre-wrap;
	font-size: 13px;
	line-height: 19px;
	overflow: auto;
	padding: 6px 10px;
}

.flex-transparent {
	flex-grow: 1;
	display: flex;
	align-items: stretch;
}

nav > ul {
	margin: 0;
	padding: 0;
	
	& > li {
		list-style: none;
	}
}

.chapter {
	flex-grow: 1;
}

.drop-zone {
	flex-grow: 1;
	
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	
	border: 4px dashed #ccc;
	color: #ccc;
	font-size: 40px;
	user-select: none;
	cursor: pointer;
	
	&.active {
		border: 4px dashed #999;
		color: #eee;
	}
}
